{% extends "index.html" %}
{% from "_formhelpers.html" import render_field %}
{% block app_content %}
<h1 class="text-center">Exams</h1>
<div class="center-block">
    <form method=post action="">
        {{ form.hidden_tag() }}
        <dl>
            {{ render_field(form.executions) }}
            {{ render_field(form.n_tries) }}
            {{ render_field(form.mark) }}
            {{ render_field(form.degree) }}
            {{ render_field(form.kind) }}
            {{ render_field(form.submit) }}
        </dl>
    </form>
</div>
{% endblock %}
