{% extends "index.html" %}
{% from "_formhelpers.html" import render_field %}
{% block app_content %}
<style>
    input{
        border-radius: 5px !important;
    }
</style>
<h1 class="text-center text-primary">Crop</h1>
<div class="center-block" style="align-items: center; display: flex; justify-content: center;">
    <form method=post action="">
        {{ form.hidden_tag() }}
        <dl>
            {{ render_field(form.name) }}
            {{ render_field(form.units) }}
            {{ render_field(form.farming) }}
            {{ render_field(form.quantity) }}
            {{ render_field(form.price) }}
            {{ render_field(form.land_id) }}
            {{ render_field(form.submit) }}
        </dl>
    </form>
</div>
<script>
    setTimeout(()=>{
        let all_variables= document.getElementsByTagName('input');
        for(let i in all_variables){
            //console.log(i);
            if(i<all_variables.length-1){
                //console.log(i+'Executed');
                all_variables[i].classList.add('form-control');
                all_variables[i].style.maxWidth= '320px';
            }
        }
        document.getElementById('submit').classList.add('btn', 'btn-info');
        document.getElementById('submit').style.fontSize= '1.5em';
        document.getElementById('submit').style.backgroundColor= '#17a2b8 !important';
    }, 100);
</script>
{% endblock %}