{% extends "bootstrap/base.html" %}
{% block title %}
{% if title %}{{ title }} - InfSYS{% else %}Welcome{% endif %}
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('index')}}">InfSYS-Demo</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('add_farmer')}}">Lectures</a></li>
                <li><a href="{{ url_for('add_lecture')}}">Lectures</a></li>
                <li><a href="{{ url_for('view_exams')}}">Exams</a></li>
                <li><a href="{{ url_for('add_execution')}}">Executions</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="container">
    {% block app_content %}
    {% endblock %}
</div>
{% endblock %}