{% extends "index.html" %}
{% from "_formhelpers.html" import render_field %}
{% block app_content %}
<h1 class="text-center">Information Center</h1>
<table class="table">
    <thead>
    <tr>
        <!-- {% if name_of_table %} -->
        <th>Shortcut</th>
        <!-- {% endif %} -->
        <th>Lecture</th>
        <th>Semester</th>
        <th>Try</th>
        <th>Grade</th>
        <th>Degree</th>
        <th>Kind</th>
    </tr>
    </thead>
    <tbody>
    {% for exam in display %}
    <tr>
        {% if exam[0] %}
        <td>{{exam[0]}}</td>
        {% endif %}
        {% if exam[1] %}
        <td>{{exam[1]}}</td>
        {% endif %}
        {% if exam[2] %}
        <td>{{exam[2]}}</td>
        {% endif %}
        {% if exam[3] %}
        <td>{{exam[3]}}</td>
        {% endif %}
        {% if exam[4] %}
        <td>{{exam[4]}}</td>
        {% endif %}
        {% if exam[5] %}
        <td>{{exam[5]}}</td>
        {% endif %}
        {% if exam[6] %}
        <td>{{exam[6]}}</td>
        {% endif %}
        {% if exam[7] %}
        <td>{{exam[7]}}</td>
        {% endif %}
        {% if exam[8] %}
        <td>{{exam[8]}}</td>
        {% endif %}
        {% if exam[9] %}
        <td>{{exam[9]}}</td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
<br/>
{% endblock %}
