{% extends "index.html" %}
{% from "_formhelpers.html" import render_field %}
{% block app_content %}
<h4 class="text-center">
    View info for: 
</h4>
<ul class="text-center list-unstyled">
    <li style="margin-top: 2.5em;"><a href="/info/farmer">All Farmers</a></li>
    <li style="margin-top: 2.5em;"><a href="/info/shopvendor">Shop Vendors</a></li>
    <li style="margin-top: 2.5em;"><a href="/info/Land">Land</a></li>
    <li style="margin-top: 2.5em;"><a href="/info/Crop">Crop</a></li>
    <li style="margin-top: 2.5em;"><a href="/info/Transporters">Transporters</a></li>
    <li style="margin-top: 2.5em;"><a href="/info/storageprov">Storage Provider</a></li>
    <li style="margin-top: 2.5em;"><a href="/info/transactions">Transaction</a></li>
    <li style="margin-top: 2.5em;"><a href="/info/Bank">Bank</a></li>
    <li style="margin-top: 2.5em;"><a href="/info/loan">loan</a></li>
    <li style="margin-top: 2.5em;"><a href="/info/shop_inv">Shop Inventory</a></li>
    <li style="margin-top: 2.5em;"><a href="/info/storagefacloc">Storage Facilty</a></li>
</ul>
{% endblock %}