{% extends "index.html" %}
{% from "_formhelpers.html" import render_field %}
{% block app_content %}
<h1 class="text-center">Shop Inventory</h1>
<div class="center-block">
    <form method=post action="">
        {{ form.hidden_tag() }}
        <dl>
            {{ render_field(form.svid) }}
            {{ render_field(form.item_name) }}
            {{ render_field(form.item_price) }}
            {{ render_field(form.units) }}
            {{ render_field(form.submit) }}
        </dl>
    </form>
</div>
{% endblock %}