{% extends "index.html" %}
{% from "_formhelpers.html" import render_field %}
{% block app_content %}
<div class="container mb-5">
    <div class="row">
        <div class="col-12 col-md-6 mt-5">
            <h4 class="text-center w-100">Bank RateOff</h4>
            <img class="w-100 h-100" src="../static/bank_rateoff_mean_bar.png">
        </div>
        <div class="col-12 col-md-6 mt-5">
            <h4 class="text-center w-100">Bank RateOff</h4>
            <img class="w-100 h-100" src="../static/bank_rateoff_stdev_bar.png">
        </div>
        <div class="col-12 col-md-6 mt-5">
            <h4 class="text-center w-100">Bank RateOff</h4>
            <img class="w-100 h-100" src="../static/bank_rateoff_variance_bar.png">
        </div>
        <div class="col-12 col-md-6 mt-5">
            <h4 class="text-center w-100">crop price</h4>
            <img class="w-100 h-100" src="../static/crop_price_mean_bar.png">
        </div>
        <div class="col-12 col-md-6 mt-5">
            <h4 class="text-center w-100">crop price</h4>
            <img class="w-100 h-100" src="../static/crop_price_stdev_bar.png">
        </div>
        <div class="col-12 col-md-6 mt-5">
            <h4 class="text-center w-100">crop price</h4>
            <img class="w-100 h-100" src="../static/crop_price_variance_bar.png">
        </div>
        <div class="col-12 col-md-6 mt-5">
            <h4 class="text-center w-100">crop quantity</h4>
            <img class="w-100 h-100" src="../static/crop_quantity_bar.png">
        </div>
        <div class="col-12 col-md-6 mt-5">
            <h4 class="text-center w-100">shopvendor authorized</h4>
            <img class="w-100 h-100" src="../static/shopvendor_auth_pie.png">
        </div>
        <div class="col-12 col-md-6 mt-5">
            <h4 class="text-center w-100">shopvendor item quantity</h4>
            <img class="w-100 h-100" src="../static/shopvendor_item_mean_pie.png">
        </div>
        <div class="col-12 col-md-6 mt-5">
            <h4 class="text-center w-100">Storage Provider Authorized</h4>
            <img class="w-100 h-100" src="../static/storage_provider_auth_pie.png">
        </div>
    </div>
</div>
{% endblock %}